@font-face {
  font-family: bronco;
  src: url(/src/assets/fonts/bronco/BroncoPersonalUse.ttf)
}
:root {
  --yellowstone: rgb(234,155,39);
}
* {
  margin: 0px;
  padding: 0px;
}
body {}
.header {
  font-family: bronco;
  color:var(--yellowstone);
  background-color: black;
  font-size: 2.5rem;
  text-align: center;
  padding:16px;
  
}
.title {
  transition: all .3s;
}
.title:hover {
  transform: scale(1.05);
}
.winner-container, .loser-container {
  display: none;
  visibility: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: bronco;
  color: var(--yellowstone);
  text-align: center;
  font-size: 3rem;
}
.winner, .loser {
  position:absolute;
  height: auto;
  width: auto;
  border: solid 2px black;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:grid;
  grid-auto-flow: row;
  padding: 8px;
  border-radius: 8px;
}
.winner-restart, .loser-restart {
  margin: 20px;
  padding: 8px;
  font-family: bronco;
  font-size: 1.5rem;
  background-color: var(--yellowstone);
  border: none;
  border-radius: 8px;
  transition: all .3s;
}
.winner-restart:hover, .loser-restart:hover {
  transform: scale(1.05);
}
.difficulty-container {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.difficulty {
  position:absolute;
  height: auto;
  width: auto;
  border: solid 2px black;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:grid;
  grid-auto-flow: row;
  font-family: bronco;
  color: var(--yellowstone);
  text-align: center;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 8px;
}
.difficulty-button {
  margin: 20px;
  padding: 8px;
  font-family: bronco;
  font-size: 1.5rem;
  background-color: var(--yellowstone);
  border: none;
  border-radius: 8px;
  transition: all .3s;
}
.difficulty-button:hover {
  transform: scale(1.05);
}
.instructions {
  font-size: 1.1rem;
}
.scores {
  display:grid;
  grid-auto-flow: column;
  gap: 2rem;
  background-color: black;
  color: var(--yellowstone);
  font-size:1.5rem;
  padding-bottom: 8px;
}
.score {
  text-align: right;
}
.game-board {
  background: url(/src/assets/dutton-cattle.webp) no-repeat 25% fixed;
  background-size: cover;
  min-height:100vh;
  padding: 2rem;  
  /* overflow:hidden; */
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}
.character-card {
  border: solid 3px black;
  border-radius: 8px;
  overflow:hidden;
  margin:4px;
  transition: all .3s;
}
.character-card:hover {
  transform: scale(1.05);
}
.character-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.character-name {
  background: black;
  color: white;
  text-align: center;
  font-weight: bold;
}
